:root {
  --pueblo: #73230f;
  --coral: #ff7654;
  --tuscany: #be482c;
  --antique-brass: #ca7e6b;
  --pearl-bush: #f0e9e5;
  --paco: #40180f;
  --cod-gray: #1b1b1b;
  --orange: #be482c;
  --white: #fff;
  --black: #000;
  --pink: #ffd4c9;

  //Elevations
  --biggest-box-shadow: 0 7px 18px rgba(0, 0, 0, 0.4);
  --big-box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
  --small-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.4);
  --smallest-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);

  ///Fonts
  --poppins: "Poppins", sans-serif;
  --crete-round: "Crete Round", sans-serif;
}

$mobile-viewport: 375px;
$tablet-viewport: 768px;
$desktop-viewport: 1440px;

$desktop-margin: 24px;
$mobile-margin: 16px;
