.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 45px;
  background: var(--tuscany);
  color: var(--white);
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  border: 0;
  margin-top: 5px;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button:hover {
  background: var(--white);
  border: 1px solid var(--tuscany);
  box-sizing: border-box;
  color: var(--tuscany);
}
