.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-top: 5px;
  letter-spacing: 0.0125em;
  transition: border 0.5s, color 0.5s, background-color 0.5s;

  &:disabled {
    box-sizing: border-box;
    cursor: no-drop;
  }

  &--primary {
    border: 0;
    color: var(--white);
    background: var(--tuscany);

    &:hover {
      background: var(--pueblo);
    }

    &:disabled {
      background: var(--silver);
      color: var(--storm-dust);
    }
  }

  &--secondary {
    border: 1px solid var(--tuscany);
    background: var(--white);
    color: var(--tuscany);
    font-weight: 500;

    &:hover {
      border: 1px solid var(--pueblo);
      color: var(--pueblo);
    }

    &:disabled {
      background-color: var(--light-gray);
      border: 1px solid var(--semi-gray);
      color: var(--semi-gray);
    }
  }

  &--bordered {
    border: 1px solid var(--gray);
    background-color: var(--white);
    color: var(--cod-gray);

    &:hover {
      background-color: var(--light-gray);
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--artwork {
    width: 270px;
  }

  &--artwork-return {
    margin-top: 30px;
  }
}
