.hero {
  background-color: var(--pearl-bush);
  width: 100%;
  display: flex;
  flex-direction: column;

  &--home {
    width: 100%;
    background-color: var(--pearl-bush);
    justify-content: flex-start;
    flex-grow: 0;
  }

  &--child {
    padding: 48px 0 56px 0;
  }

  &--profile {
    padding: 48px 16px 33px 16px;
  }

  &__section {
    &--home {
      width: 100%;
    }

    &--child {
      padding: 0 16px 0 16px;
    }
  }

  &__stamp-wrapper {
    position: absolute;

    &--home {
      top: 96px;
      left: 3px;
    }
  }

  &__image {
    border-radius: 24px 0;
    width: 100%;
    height: auto;
    object-fit: cover;

    &--home {
      max-height: 283px;
    }

    &--child {
      min-height: 293px;
    }

    &--profile {
      max-height: 294px;
    }
  }

  &__image-wrapper {
    &--home {
      margin: 64px 16px 31px 15px;
    }
  }

  &__tag-wrapper {
    position: relative;

    &--home {
      padding: 0 19px 0 26px;
      top: 1px;
    }

    &--child {
      padding: 43px 0 0 0;
      top: 0;
    }

    &--profile {
      padding: 42px 0 0 0;
    }
  }

  &__title-wrapper {
    &--home {
      padding: 0 19px 0 20px;
    }

    &--child {
      padding: 0;
    }
  }

  &__body-wrapper {
    &--home {
      padding: 11px 13px 75px 23px;
    }

    &--child {
      padding: 10px 0 0 0;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    margin: 40px 0 0 0;
  }
}

@media screen and (min-width: $tablet-viewport + 1) {
  .hero {
    &--home {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &--child {
      padding: 89px 0 45px 0;
      align-items: center;
    }

    &--profile {
      flex-direction: row;
      justify-content: center;
      padding: 92px 16px 97px 16px;
    }

    &__image-wrapper {
      &--home {
        margin: 48px 25px 95px 100px;
      }

      &--child {
        padding: 67px 16px 0 16px;
      }
    }

    &__image {
      &--home {
        max-height: 719px;
      }

      &--profile {
        max-height: 466px;
      }
    }

    &__section {
      &--home {
        position: relative;
        margin-top: 20px;
      }

      &--profile-text {
        margin: 0 0 0 49px;
      }

      &--first-item-on-desktop {
        order: 1;
      }
    }

    &__section--media {
      order: 1;
    }

    &__stamp-wrapper {
      &--home {
        top: 14px;
        left: 42px;
      }
    }

    &__tag-wrapper {
      &--home {
        padding: 48px 0 0 26px;
        top: 2px;
      }

      &--child {
        padding: 0 0 0 0;
      }

      &--profile {
        padding: 0 0 0 0;
      }
    }

    &__title-wrapper {
      &--home {
        padding: 0 0 0 24px;
      }

      &--child {
        padding: 6px 0 0 0;
      }

      &--profile {
        padding: 7px 0 0 0;
      }
    }

    &__body-wrapper {
      &--home {
        padding: 18px 23px 95px 26px;
      }

      &--child {
        padding: 16px 0 0 0;
        max-width: 686px;
      }

      &--profile {
        max-width: 533px;
        padding: 42px 0 0 0;
      }
    }

    &__button-wrapper {
      display: flex;
      justify-content: center;
      margin: 48px 0 0 0;
      width: fit-content;
    }
  }
}
