.stamp {
  width: 115px;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> a9af908 (Add: Stamp postioning)
  height: 115px;

  &--small {
    width: 78px;
    height: 78px;
<<<<<<< HEAD
=======

  &--small {
    width: 78px;
>>>>>>> dc8c739 (Add: bardo stamp)
=======
>>>>>>> a9af908 (Add: Stamp postioning)
  }
}

@media screen and (min-width: ($tablet-viewport+1)) {
  .stamp {
    &--right {
      transform: translateX(50%);
    }

    &--left {
      transform: translateX(-50%);
    }

    &--small {
      width: 115px;
<<<<<<< HEAD
<<<<<<< HEAD
      height: 115px;
=======
>>>>>>> f490dab (Fix: Stamp size bug)
=======
      height: 115px;
>>>>>>> a9af908 (Add: Stamp postioning)
    }
  }
}
