@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import "../abstracts/mixins";

body {
  font-family: var(--poppins);
}

.hero {
  &__tag {
    @include font-overline;

    padding: 0;
    margin: 0;
    color: var(--pueblo);
  }

  &__title {
    @include font-h3;

    padding: 0;
    margin: 0;
    color: var(--tuscany);

    &--profile {
      b {
        font-weight: normal;
        background-color: var(--pink);
      }
    }
  }

  &__body {
    @include font-subtitle1;

    padding: 0;
    margin: 0;
    color: var(--cod-gray);

    &--profile {
      @include font-body1;
    }

    b {
      background-color: var(--pink);
      font-weight: 500;
    }
  }
}

@media screen and (min-width: $tablet-viewport + 1) {
  .hero {
    &__title {
      @include font-h2;

      &--child {
        text-align: center;
      }

      &--profile {
        b {
          background-color: var(--pink);
          font-weight: normal;
        }
      }
    }

    &__body {
      &--home {
        @include font-h6;
      }

      &--child {
        @include font-body1;

        text-align: center;
      }
    }

    &__tag {
      &--child {
        text-align: center;
      }
    }
  }
}
