@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap");
@import "../abstracts/mixins";

body {
  font-family: var(--poppins);
}

.hero {
  &__tag {
    padding: 0;
    margin: 0;

    &--home {
      @include font-overline;

      color: var(--pueblo);
    }

    &--child {
      @include font-overline;

      color: var(--pueblo);
    }
  }

  &__title {
    padding: 0;
    margin: 0;

    &--home {
      @include font-h3;

      color: var(--tuscany);
    }

    &--child {
      @include font-h3;

      color: var(--tuscany);
    }
  }

  &__body {
    padding: 0;
    margin: 0;

    &--home {
      @include font-subtitle1;

      color: var(--cod-gray);

      b {
        background-color: var(--pink);
        font-weight: 500;
      }
    }

    &--child {
      @include font-subtitle1;

      color: var(--cod-gray);

      b {
        background-color: var(--pink);
        font-weight: 500;
      }
    }
  }
}

.artwork-details {
  &__title {
    @include font-h5;
  }

  &__title-year {
    @include font-subtitle2;
  }

  &__body-text {
    @include font-body2;
  }
}

.artwork-article {
  &__eyebrow {
    @include font-overline;

    color: var(--pueblo);
  }

  &__title {
    @include font-h3;

    color: var(--tuscany);
  }

  &__description {
    @include font-body1;

    color: var(--cod-gray);
  }
}

@media screen and (min-width: $tablet-viewport + 1) {
  .hero {
    &__title {
      &--home {
        @include font-h3;
      }

      &--child {
        @include font-h2;

        text-align: center;
      }
    }

    &__body {
      &--home {
        @include font-h6;
      }

      &--child {
        @include font-body1;

        text-align: center;
      }
    }

    &__tag {
      &--child {
        text-align: center;
      }
    }
  }

  .artwork-details {
    &__title {
      @include font-h4;
    }
  }

  .artwork-article {
    &__eyebrow {
      text-align: center;
    }

    &__title {
      text-align: center;

      @include font-h2;
    }

    &__description {
      text-align: center;
    }
  }
}
